main{
  width: 500px;
  margin-left: 500px;
  background-color: darkgray;
}

main img{
  margin-left: 100px;
  justify-content: center;
  width: 50%;
}

main button{
  width: 100%;
}

#lembrar{
  margin-left: 100px;
}